@{
    ViewData["Title"] = "Home Page";
}

<canvas id="game"></canvas>

<div id="name-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>What's your name?</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">What's your name?</label>
                    <input id="name" class="form-control" maxlength="20" type="text">
                </div>
            </div>
            <div class="modal-footer">
                <button id="join" class="btn btn-primary">Join Game</button>
            </div>
        </div>
    </div>
</div>